/* *********** Custom Properties **************** */
:root{
  --first-color:  #fc842f;
  --first-alpha-color: rgba(30, 176, 234, 0.75);
  --second-color: #0764A8;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #30338C;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);  
  --max-width: 1200px;
  --header-height: 5rem;

  --height-slider: 500px;
  --width-slider: 100%;
  --color-opacity-dark: rgba(0,0,0,.4);
  --color-opacity-ligth: rgba(255,255,242,0.2);
  --bgc-yellow: #FFB600;
  --bgc-black: #000000;
  --color-button: #FFFFFF;
  --cant-columns:5; 
  --font-family-title: 'Titillium Web';  
}
body{
  font-family: 'Roboto';
}




/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

#particles-js{
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}


/* *********** Components **************** */
/* ******* Carousel *********** */
@keyframes carousel-slide{
  0%{
    transform: translateX(0%);
  }

  25%{
    transform: translateX(-25%);
  }

  50%{
    transform: translateX(-50%);
  }

  75%{
    transform: translateX(-75%);
  }
}
.carousel{
  margin: 2rem auto;
  padding: 2rem 0;
  max-width: 800px;
  text-align: center;
  overflow-x: hidden;
  background-color: var(--carousel-bg-color);
}

.carousel .slides{
  padding-left: 0;
  /** por casa slide sumar 100% **/
  width: 400%;
  display: flex;  
  list-style: none;
  transition: transform 0.5s ease-in-out;
  animation: carousel-slide 12s ease-in-out 3s;
}

.carousel input{
  display: none;
}

.carousel label{
  border: medium solid var(--gray-dark-color);
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: (--gray-dark-color);
  border-radius: 50%;
  margin: 0 0.25rem;
  cursor: pointer;  
}

#slide-1:checked ~ .slides{
  transform: translateX(0%);
}

#slide-2:checked ~ .slides{
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides{
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides{
  transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4{
  background-color: var(--gray-dark-color);
}

/* ******* slider auto ************ */

.container-slider{  
  width: var(--width-slider);  
  max-width: 100vw;
  overflow-x: hidden;
  display: grid ;
  grid-template-columns: repeat(var(--cant-columns),100vw);  
}

.slider-content{
  position: relative;
  transition: transform 1s;  
}

.slider-content__img{
  width: var(--width-slider);
  height: var(--height-slider);
}

.slider-opacity::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-slider);
    background-color: var(--color-opacity-dark);
}

.arrow-slider-left,
.arrow-slider-right{
  position: absolute;
  top: 350px;
  color: rgb(109, 107, 107);
  font-size: 20px;
  background-color: black;  
}

.arrow-slider-left:hover,
.arrow-slider-right:hover{
  color: var(--first-color);
}

.arrow-slider-left{
  left: 0;
  padding: 8px 8px 8px 15px;
}

.arrow-slider-right{
  right: 0;
  padding: 8px 15px 8px 8px;
}

.slider-content__body{
  position: absolute;
  top: 35%;
  width: 70%; 
  height: 70px;  
  text-align: center;  
}

.slider-titulo{
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 3px;
}

.slider-description{  
  font-size: 0.8rem;
  color: rgba(255, 255, 250, 0.8);
}

.content-left{
    margin-left: 12%;
} 

.slider-button{
    margin-top: 15px;      
}

.slider-text{
  margin-bottom: 30px;
}

.slider-button__link{  
  text-decoration: none;
  background-color: var(--first-color);
  font-size: 1.1rem;
  color: var(--color-button);
  padding: 1.5%;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;    
}

/* ******* Contact Form *********** */

.contact{
  background-color: var(--second-color);
}



.contact-form{
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form > *{
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea{
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input{
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--gray-dark-color);
}

.contact-form input[type="submit"]{
  margin-top: 0;
  cursor: pointer;
  transition: 0.5 ease-out;
}

.contact-form input[type="submit"]:hover{
  opacity: 0.75;
}

.contact-form textarea{
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form *::placeholder{
  color: var(--gray-dark-color);
}

.contact-form-response{
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg{
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

.modal#gracias:target{
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px){
  .contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea{
    font-size: 1rem;    
  }

  .contact-form textarea,
  .contact-form-loader{
    grid-column: span 2;
  }

  .contact-form input[type="submit"]{
    margin-left: 0;
  }
}

/* ******* HeroImage *********** */
.hero-image{
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}
.hero-image-content {
  width: 100%;
  min-width: 320px;
  height: auto;
}

.hero-image-opacity{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title{
  font-size: 7.5vw;
  color: var(--hero-text-color);
}
/* ******* Menu *********** */
.menu-btn{
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
}

.menu-btn svg{
  fill: var(--first-color);
}

.menu{
  position: fixed;
  left: 0;
  bottom: var(--header-height) ;  
  width: 100%;  
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  background-color: var(--white-color);  
}

.menu.is-active{
  opacity: 1;
  pointer-events: auto;
}

.menu a{
  padding: 0.6rem;
  font-size: 1.1rem;  
  text-align: center;
  text-decoration: none;
  color: var(--second-color);
}

.menu a:hover{
  color: var(--first-color);  
  border-bottom: thin solid var(--first-color);
  transition: all 0.5s;
}

@media screen and (min-width:1024px) {
  .menu-btn{
    display: none;
  }

  .menu{
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
    
  }

  .menu a{
    padding: 0 1rem;
  }

  .menu a:hover{
    background-color: transparent;
  }

  .menu a:last-child{
    padding-right: 0;
  }
}

/* ******* Modal *********** */

.modal{
  position: fixed;
  z-index: 999;
  top: 0;  
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content{
  position: relative;
}

.modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg{
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="venta"]:target{
  opacity: 1;
  pointer-events: auto;
}

/* *********** Utilities **************** */

.avatar{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;    
}

.about-button__link{
  text-align: center;
  display: block;
  text-decoration: none;
  color: var(--color-button);
  background-color: #FFB600;
  border-radius: 5px;
  padding: 15px 5px;    
  font-weight: bold;
  font-size: 2rem;
  width: 50%;
  margin: auto;
  transition: box-shadow .5s;
  font-family: var(--font-family-title);
  letter-spacing: 2px;  
}

.about-button__link:hover{
  box-shadow: 5px 5px 15px grey;
}

.background-image{
  /*background-color: var(--gray-light-color);*/
  background-image: var(--hero-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  min-height: 320px;
}

.bg-gray-light{
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn{
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.container-logo{    
  background-color: var(--first-color);    
  height: 70px;      
  display: flex;
  justify-content: center;
}

.container-logo img{  
  height: 4rem;
}

.color-white-bold{
  color: #fff;
  font-weight: bold;
}

.footer-section-content{    
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0.5rem;
  text-align: left;
}


.gray-scale{
  filter: saturate(100%);
}

.none{
  display: none;
}

.section{
  padding: 2rem 1rem;  
}

.section-title{
  font-size: 2.5rem;
  border-top: thin solid #FFB600  ;  
  width: 80%;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;  
  font-weight: bold;  
}

.section-title-solid-background{  
  max-width: var(--max-width);
  width: 80vw;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  
  opacity: 0.8;
  border-radius: 3%;  
}



.section-mission-vision{
  padding: 0rem 1rem;
}
.text-center{
  text-align: center;
}

.text-first-color{
  color: var(--first-color);
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

.mapa{
  width: 100vw;
  min-height: 100vh;
  min-height: 320px;
  max-width: var(--max-width);
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.ws{
  position: fixed;
  width: 50px;  
  bottom: 5rem;
  left: 10px;  
  z-index: 100;
  cursor: pointer;
}

.ws:hover{
  width: 70px;  
}

@media screen and (min-width: 1024px){
  .full-lg-screen{
    width: 100%;
    min-height: 100vh;
  }
  .text-lg-center{
    text-align: center;
  }

  .text-lg-left{
    text-align: left;
  }

  .text-lg-right{
    text-align: right;
  }

  .text-lg-justify{
    text-align: justify;
  }

  .footer-section{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: space-between;    
    
    
  }
  .footer-section-content:last-child{
    border-bottom: none;
    padding-bottom: 1rem;
  }
}
/* *********** Site Styles **************** */
.about > article{
  margin-bottom: 2rem;
}

.contact-cards{
  border: thin solid var(--first-color);
}

.contact-card{
  
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;    
}

.contact-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}


.contact-card > svg{
  fill: var(--first-color);
  width: 2rem;
  height: 2rem;
}

.contact-card > small{
  margin-top: -1rem;
}

.footer{
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color:  var(--white-color);
  background-color: var(--third-color);
}

.header{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding: 1rem;
  height: var(--header-height);
  background-color: var(--white-color);
  box-shadow: 0px 3px 10px grey;
  cursor: pointer;
}

.header > .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-head{    
  position: absolute;
  margin-top: 8px;
  z-index: 8888888;  
  color: #f3f3f3;   
  width: 50%;  
  background-color: red;
  text-align: center;   
}

.logo-head-icon{
  padding: 0 1%;
  color: #f3f3f3;    
}

.logo img{  
  color: var(--first-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;  
  height: 3rem;
}


.sale-card{
  position: relative;    
  width: 99%;
  margin: 0.1rem auto;
  display: block;
}

.sale-card img{
  width: 100%;
  height: 400px;
  object-fit: cover;    
}

.img-modal{
  width: 50%;  
  height: 400px;
  object-fit: cover; 
}

.sale-card-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  padding: 1rem;
  background-color: var(--first-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.sale-card:hover .sale-card-info {
  opacity: 1;
  pointer-events: auto;
}

.sale-card-info > div{
  padding: 1rem;
  width: 100%;
  height: 100%; 
  border: thin solid var(--white-color);
}

.sale-modal{
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

.sale-modal h3{
  border-bottom: medium solid var(--first-color);
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--title-color);  
}

.sale-detail{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.sale-detail b{
  color: var(--first-color);
}

.service-card{
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  color: #000;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(2,20% 80%);
}

.service-card h3{
  color: var(--title-color);
}

.service-card svg{
  margin-bottom: 1.25rem;
  fill: var(--first-color);
}

.service-card .card-icon{
  margin-bottom: 1.25rem;
  color: var(--first-color);
  font-size: 2rem;
  
}

.social-media a{
  padding: 0.4rem;
  text-decoration: none;
}

.social-media svg{
  width: 1.5rem;
  height: 1.5rem;
}
.reservado{
/*  background-color: #1EB0EA;*/
}
.ubicanos{  
  padding: 1rem;
}
.texto{
  color: red;
}


@media screen and (min-width:768px) {
  .contact-cards{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;    
  }

  .sale-modal{
    max-width: 800px;
    flex-direction: row;    
  }
  
  .sale-info{
    margin-left: 1rem;
    align-self: center;
  }

  .sale > .container{
    display: grid;
    grid-template-columns:repeat(2,50%);
    justify-content: space-between;
    align-content: center;
  }

  .sale .section-title{
    grid-column: span 2;
  }


  .services-container-opacity{
    position: absolute;
    background-color: rgba(179, 140, 180, 0.2); 
    width: 100vw;
    height: 100vh;
    left: 0;
    
    
    
  }

  .services > .container{
    display: grid;
    grid-template-columns:repeat(2,48%);
    justify-content: space-between;
    align-content: center;   
    
  }

  .services .section-title{
    grid-column: span 2;
  }

  .services .section-title-solid-background{
    grid-column: span 2;
    color: #000;
  }
  

}

@media screen and (min-width:1024px) {

  .about{
    display: grid;
    grid-template-columns: repeat(2,48%);
    justify-content: space-between;
    align-content: center;
    padding-top: 4.5rem;
  }

  .ubicanos{
    padding-top: 4rem;
  }

  .contact-cards{    
    grid-template-columns: repeat(4, 24%); 
    text-align: center;
    align-content: center;
  }
  .contact-card{  
    display: grid;  
    grid-template-columns: repeat(2, 50%);  
    justify-items: center;
    align-items: center;
  }

 

  .footer{
    margin-bottom: 0;
  }
  .header{
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .sale > .container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: space-between;
    align-content: center;
  }

  .sale .section-title{
    grid-column: span 3;
  }
  
  .services > .container{
    display: grid;
    grid-template-columns:repeat(3,30%);
    justify-content: space-between;
    align-content: center;
  }

  .services .section-title{
    grid-column: span 3;
  }

  .services .section-title-solid-background{
    grid-column: span 3;
  }

  .logo-head{     
    width: 800px;        
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 15px;
  }

}


